*{
	padding: 0;
	margin: 0;
	font-family:sans-serif;
	
	}
	body{
		background: linear-gradient(#111,#222);
		height: 100vh;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	body::after{
	content: '';
	width: 95%;
	height: 95%;
	
	background-image: linear-gradient( 45deg, #eebee1 0%, rgb(180, 88, 120) 100%);
	position: absolute;
	z-index: -1;
	clip-path: circle(40% at right 70%);
	
	
	
	
	}
	
	
	
	
	.container{
	
	width: 80%;
	height: 80%;
	background: rgba(255,255,255,0.1);
	border-radius: 20px;
	overflow: hidden;
	}
	nav{
	display: flex ;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: auto;
	padding: 20px 0;
	}
	nav .logo{
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	color:#fff;
	}
	nav ul li {
	
	display: inline-block;
	margin: 0 6px ;
	
	
	}
	nav ul li a {
		color:#fff;
		text-decoration: none;
		font-size: 18px;
		font-weight: 500;
	
	}
	nav ul li a:hover {
		color:#455580 ;
	}
	.content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 80%;
	margin: auto;
	
	}
	.content .text{
	color: #fff;
	width: 40%;
	
	
	}
	.content .text h2 {
		font-size: 40px;
	   text-transform: uppercase;
	   font-weight: 700;
	   letter-spacing: 2px;
	
	
	}
	.content .text p {
		font-size: 18 px;
		line-height: 25px;
		margin: 10px ;
		letter-spacing: 1px;
	
	
	}
	.content .image {
		width: 40%;
	
	}
	.content .image img{
	   width: 400px;
	
	}
	@media (min-width:950px) and (max-width:1150px) {
	   
	
		.content .image img{
			width: 330px;
		 }
	}
	
	@media (max-width:950px){
	
		.content, nav{
			flex-direction: column;
			justify-content: center;
	
		}
		.content .image, .content .text {
			width: 100%;
		}
	body::after{
		clip-path: circle(50% at bottom);
	}
	}
	
	
	
	
	
	
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
	body{
		line-height: 1.5;
		font-family: 'Poppins', sans-serif;
	}
	*{
		margin:0;
		padding:0;
		box-sizing: border-box;
	}
	.container{
		max-width: 1170px;
		margin:auto;
	}
	.row{
		display: flex;
		flex-wrap: wrap;
	}
	ul{
		list-style: none;
	}
	.footer{
		background-color:rgb(16, 15, 15);
		padding: 70px 0;
	}
	.footer-col{
	   width: 25%;
	   padding: 0 15px;
	}
	.footer-col h4{
		font-size: 18px;
		color: #ffffff;
		text-transform: capitalize;
		margin-bottom: 35px;
		font-weight: 500;
		position: relative;
	}
	.footer-col h4::before{
		content: '';
		position: absolute;
		left:0;
		bottom: -10px;
		background-color: #1e2ce9;
		height: 2px;
		box-sizing: border-box;
		width: 50px;
	}
	.footer-col ul li:not(:last-child){
		margin-bottom: 10px;
	}
	.footer-col ul li a{
		font-size: 16px;
		text-transform: capitalize;
		color: #ffffff;
		text-decoration: none;
		font-weight: 300;
		color: #bbbbbb;
		display: block;
		transition: all 0.3s ease;
	}
	.footer-col ul li a:hover{
		color: #ffffff;
		padding-left: 8px;
	}
	.footer-col .social-links a{
		display: inline-block;
		height: 40px;
		width: 40px;
		background-color: rgba(255,255,255,0.2);
		margin:0 10px 10px 0;
		text-align: center;
		line-height: 40px;
		border-radius: 50%;
		color: #ffffff;
		transition: all 0.5s ease;
	}
	.footer-col .social-links a:hover{
		color: #24262b;
		background-color: #ffffff;
	}
	
	
	.footer-col img{
	
		display: inline-block;
		height: 90px;
		width: 90px;
		
		margin:0 10px 10px 0;
		text-align: center;
		line-height: 40px;
		border-radius: 50%;
		
		
	
	
	}
	.botom{
	
	background: #000;
	width: 100vu;
	padding: 20px;
	text-align: center;
	color: #ffffff;
	
	}
	.botom p {
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize ;
	
	
	}
	.botom span{
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
	
	}
	
	
	
	
	@media(max-width: 767px){
	  .footer-col{
		width: 50%;
		margin-bottom: 30px;
	}
	}
	@media(max-width: 574px){
	  .footer-col{
		width: 100%;
	}
	}